body {
  margin-top: 20px;
  background-color: blanchedalmond;
  font-family: "Dancing Script", cursive;
  font-family: "Ubuntu", sans-serif;
}
a,
a:visited,
a:link {
  text-decoration: none;
  color: black;
  padding: 10px;
  margin-top: -12px;
}

.img-sm {
  width: 46px;
  height: 46px;
}

.panel {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.904);
  border-radius: 0;
  border: 0;
  margin-bottom: 15px;
}

.panel .panel-footer,
.panel > :last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.but1 {
  width: 30px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  font: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.panel .panel-heading,
.panel > :first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.panel-body {
  padding: 25px 20px;
}

.media-block .media-left {
  display: block;
  float: left;
}

.media-block .media-right {
  float: right;
}

.media-block .media-body {
  display: block;
  overflow: hidden;
  width: auto;
}

.middle .media-left,
.middle .media-right,
.middle .media-body {
  vertical-align: middle;
}

.thumbnail {
  border-radius: 0;
  border-color: #000000;
}

.tag.tag-sm,
.btn-group-sm > .tag {
  padding: 5px 10px;
}

.tag:not(.label) {
  background-color: rgb(0, 0, 0);
  padding: 6px 12px;
  border-radius: 2px;
  border: 1px solid #000000;
  font-size: 12px;
  line-height: 1.42857;
  vertical-align: middle;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.text-muted,
a.text-muted:hover,
a.text-muted:focus {
  color: #000000;
}
.text-sm {
  font-size: 0.9em;
}
.text-5x,
.text-4x,
.text-5x,
.text-2x,
.text-lg,
.text-sm,
.text-xs {
  line-height: 1.25;
}

.btn-trans {
  background-color: transparent;
  border-color: transparent;
  color: #000000;
}

.btn-icon {
  padding-left: 20px;
  padding-right: 9px;
  /* margin-bottom: 10px; */
}

.btn-sm,
.btn-group-sm > .btn,
.btn-icon.btn-sm {
  padding: 5px 20px !important;
  text-align: center;
  border-radius: 5px;
  background: rgb(200, 115, 211);
  color: rgba(0, 0, 0, 0.932);
  font-size: 18px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.mar-top {
  margin-top: 15px;
}

.form-control {
  padding-left: inherit;
  padding-top: inherit;
  border: none;
  outline: none;
  font: inherit;
  width: 100%;
}
.number-upvote,
.number-downvote {
  padding-right: 8px;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  color: rgb(36, 32, 32);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font: bold;
  text-transform: uppercase;
}
.head {
  background-size: cover;
  height: 500px;
  border-radius: 5px;
  border: 2px solid rgb(139, 4, 180);
  /* background-position: center center; */
}

.footer {
  text-align: center;
  margin-top: 100px;
  /* border-top: 1px solid rgba(250, 250, 250, 0.15); */
  padding: 50px 0px;
  background-image: linear-gradient(
    rgba(21, 18, 192, 0.856),
    rgb(27, 141, 218)
  );
}
.footer p {
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}

.footer p a {
  color: #f5a425;
}

.head3 {
  height: 100px;
}

footer {
  background: #111b51;
  position: relative;
  z-index: 1;
  padding: 0 0 150px 0;
  overflow: hidden;
}
footer:before {
  background: #ffffff;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 150px;
  width: 50%;
  z-index: -1;
}
footer:after {
  background: #111b51;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  opacity: 0.9;
}
footer .shape_wrapper {
  position: absolute;
  z-index: 5;
  content: "";
  height: 100%;
  width: 300px;
  right: 0;
  top: 0;
}
footer .shape_wrapper:before {
  border-radius: 0 0 0 50%;
  background: #111b51;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
footer .shape_wrapper img {
  position: absolute;
}
footer .shape_wrapper .shape_t_1 {
  left: 0;
  top: 0;
}
footer .shape_wrapper .shape_t_2 {
  right: 0;
  bottom: 0;
}
footer .become_techer_wrapper .become_a_teacher {
  background: #ff5a2c;
  padding: 70px 50px 80px 120px;
  position: relative;
  z-index: 1;
}
footer .become_techer_wrapper .become_a_teacher:before {
  background: #ff5a2c;
  position: absolute;
  content: "";
  top: 0;
  right: -100px;
  height: 100%;
  width: 100px;
  z-index: -1;
}
footer .become_techer_wrapper .become_a_teacher:after {
  background: rgba(7, 32, 57, 0.6);
  position: absolute;
  content: "";
  top: 0;
  left: -100%;
  height: 300%;
  width: 100%;
  z-index: -1;
}
footer .become_techer_wrapper .become_a_teacher .title h2 {
  color: #ffffff;
  font-size: 50px;
}
footer .become_techer_wrapper .become_a_teacher .title p {
  color: #ffffff;
  padding: 20px 0 35px;
}
footer .become_techer_wrapper .become_a_teacher .get_s_btn a {
  background: #092ace;
  font-weight: 500;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  height: 60px;
  line-height: 60px;
  padding: 0 40px;
  font-family: "Rubik", sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .become_techer_wrapper .become_a_teacher .get_s_btn a:hover {
  background: #ffffff;
  color: #333146;
}
footer .become_techer_wrapper .become_a_teacher .shape_t_1 {
  position: absolute;
  bottom: -65px;
  right: -165px;
}
footer .footer_top {
  position: relative;
  z-index: 1;
  margin-top: 100px;
}
footer .footer_top h3 {
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 40px;
}
footer .footer_top .information {
  margin-left: 50px;
}
footer .footer_top .contact {
  margin-left: 80px;
}
footer .footer_top .footer_intro {
  padding-right: 25%;
}
footer .footer_top .footer_intro img {
  height: 45px;
  margin-bottom: 40px;
}
footer .footer_top .footer_single_col p {
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
}
footer .footer_top .footer_single_col ul li {
  display: block;
  padding-bottom: 11px;
  font-size: 15px;
}
footer .footer_top .footer_single_col ul li:last-childe {
  padding-bottom: 0px;
}
footer .footer_top .footer_single_col ul li a {
  color: #ffffff;
  font-family: "Rubik", sans-serif;
}
footer .footer_top .footer_single_col ul li a:hover {
  color: #ff5a2c;
}
footer .footer_top .footer_single_col ul li a:hover:before {
  color: #ff5a2c;
}
footer .footer_top .footer_single_col .quick_inf0 li a {
  position: relative;
  padding-left: 20px;
}
footer .footer_top .footer_single_col .quick_inf0 li a:before {
  color: #ffffff;
  position: absolute;
  font-weight: 600;
  font-family: "Flaticon";
  content: "\f103";
  left: 0;
  top: 0;
  font-size: 8px;
  z-index: 0;
  opacity: 1;
  line-height: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .footer_top .footer_single_col .contact_info span {
  color: #ffffff;
  font-size: 14px;
}
footer .footer_top .footer_single_col .contact_info .email {
  color: #ff5a2c;
  padding-left: 15px;
  font-weight: 600;
}
footer .footer_top .footer_single_col .social_items {
  padding: 20px 0 0;
}
footer .footer_top .footer_single_col .social_items li {
  margin-right: 30px;
}
footer .footer_top .footer_single_col .social_items li:last-child {
  margin-right: 0;
}
footer .footer_top .footer_single_col .social_items li a i {
  font-size: 18px;
  margin: 0;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
footer .footer_top .footer_single_col .social_items li a i:hover {
  color: #ff5a2c;
}
footer .round_shape {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
footer .round_shape span {
  border: 1px solid #ffffff;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  bottom: 0;
  left: 0;
  -webkit-animation-name: bounce_fountainG;
  animation-name: bounce_fountainG;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: normal;
  animation-direction: normal;
}
footer .round_shape .shape_1 {
  height: 50px;
  width: 50px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
footer .round_shape .shape_2 {
  height: 120px;
  width: 120px;
  -webkit-animation-delay: 0.39s;
  animation-delay: 0.39s;
}
footer .round_shape .shape_3 {
  height: 190px;
  width: 190px;
  -webkit-animation-delay: 0.78s;
  animation-delay: 0.78s;
}
footer .round_shape .shape_4 {
  height: 260px;
  width: 260px;
  -webkit-animation-delay: 1.17s;
  animation-delay: 1.17s;
}
footer .round_shape .shape_5 {
  height: 330px;
  width: 330px;
  -webkit-animation-delay: 1.56s;
  animation-delay: 1.56s;
}
footer .round_shape .shape_6 {
  height: 400px;
  width: 400px;
  -webkit-animation-delay: 2.34s;
  animation-delay: 2.34s;
}

footer .shapes1_footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: -11;
}

.footer_2 {
  padding: 0;
}
.footer_2:before {
  display: none;
}
.footer_2 .copyright {
  text-align: center;
  padding: 80px 0 50px;
}
.footer_2 .copyright p {
  color: #ffffff;
  margin: 0;
  font-size: 14px;
}
.footer_2 .shapes_bg img {
  position: absolute;
  z-index: -1;
}
.footer_2 .shapes_bg .shape_1 {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0.1;
}
.footer_2 .shapes_bg .shape_3 {
  bottom: -20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0.5;
}

.footer_3 {
  padding: 0;
  z-index: 0;
}
.footer_3:before {
  display: none;
}
.footer_3 .footer_top {
  margin-top: 120px;
}
.footer_3 .become_instractor {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 150px 0 120px;
}
.footer_3 .become_instractor:before {
  background: #d9d9d9;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1600px;
  height: 1px;
  opacity: 0.2;
}
.footer_3 .become_instractor .sub_title {
  text-align: left;
  margin: 0;
  padding-right: 10%;
}
.footer_3 .become_instractor .sub_title h2,
.footer_3 .become_instractor .sub_title p {
  color: #ffffff;
}
.footer_3 .become_instractor .sub_title p {
  padding: 25px 10% 0 0;
}
.footer_3 .become_instractor .envent_all_view a {
  background: #ff5a2c;
  font-weight: 500;
  border-radius: 50px;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  height: 60px;
  line-height: 60px;
  padding: 0 45px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.footer_3 .become_instractor .envent_all_view a:hover {
  background: #ffffff;
  color: #092ace;
}
.footer_3 .copyright {
  text-align: center;
  padding: 80px 0 50px;
}
.footer_3 .copyright p {
  color: #ffffff;
  margin: 0;
  font-size: 14px;
}
.footer_3 .shapes_bg img {
  position: absolute;
  z-index: -1;
}
.footer_3 .shapes_bg .shape_3 {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0.2;
  width: 100%;
}
